.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    flex: 1;
    background-color: lightgray;
    overflow: hidden;

    .content-wrapper {
      display: flex;

      .leftbar {
        flex: 1;
      }

      .children {
        flex: 3;
        overflow: scroll;
      }

      .rightbar {
        flex: 1;
      }
    }
  }
}
