body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 16px;
  line-height: 1; */
  /* font-weight: 500; */

  --theme-color: rgb(158, 64, 64);
  --font-color-light: #fff;
  --font-color-dark: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
  border: none;
}

button:active {
  transform: scale(0.95);
}

* {
  box-sizing: border-box;
  margin: 0;
}
