.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  .no-posts-available {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    color: gray;
    opacity: 0.2;
  }
}
