@import "../../mixins.scss";

.user-details-card {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #e8e8e8;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.25s;

  &:hover {
    background-color: var(--theme-hover-color);
  }

  .image {
    display: flex;
    align-items: center;

    .lazy-load-image-background {
      margin-top: 4px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;

        @include sm {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  .details {
    flex: 1;
    overflow: hidden;

    .chat-name {
      font-size: 1.2rem;

      @include sm {
        font-size: 1rem;
      }
    }

    .latest-message {
      font-size: 0.9rem;
      font-weight: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      opacity: 0.5;

      @include sm {
        font-size: 0.8rem;
      }
    }
  }
}

.selected-chat {
  background-color: var(--theme-color);
  color: white;

  &:hover {
    background-color: var(--theme-color);
  }
}
