@import "../../mixins.scss";

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 5px;
  overflow: hidden;

  .content-wrapper {
    min-height: 90%;

    .chats {
      display: flex;
      gap: 20px;
      height: 100%;

      > div {
        // height: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px gray;
        background-color: white;
        border: 1px solid rgb(158, 64, 64);
        padding: 15px;

        @include sm {
          padding: 10px;
        }
      }
    }
  }
}
