@import "../../mixins.scss";

.rightbar {
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 10px gray;
  padding: 10px;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  border: 1px solid var(--theme-color);

  @include smd {
    display: none;
  }
}
