@import "../../mixins.scss";

.rightbar {
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 10px gray;
  padding: 10px;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid var(--theme-color);

  @include smd {
    display: none;
  }

  .pending-requests-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48%;

    h3 {
      color: var(--theme-color);
      text-align: center;
    }

    .pending-requests {
      flex: 1;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px dashed lightgray;
      padding: 5px;
      border-radius: 5px;

      .loading-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .loading {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 3px solid gray;
          border-top: 3px solid #fff;
          animation: rotate 4s linear infinite;

          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }

      .error-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: gray;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .element {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 5px;
        border-radius: 5px;
        transition: 0.25s;

        &:hover {
          background-color: lightgray;
        }

        .user-info {
          display: flex;
          gap: 10px;
          align-items: center;
          font-weight: 600;
          .user-image {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 2px;
          }
        }

        .buttons {
          font-size: 0.9em;
          text-align: center;
          button:first-child {
            background-color: var(--theme-color);
            color: #fff;
            margin-right: 10px;
          }

          button:last-child {
            background-color: gray;
            color: #fff;
          }
        }
      }
    }
  }

  .divider {
    width: 100%;
    border-top: 1px dashed lightgray;
  }

  .message-container {
    min-height: 48%;
    background-color: blue;
  }
}
