@import "../../mixins.scss";

.header {
  height: 80px;
  background-color: var(--theme-color);
  color: var(--font-color-light);
  position: relative;
  box-shadow: 4px 4px 10px gray;

  * {
    box-sizing: border-box;
  }

  @include md {
    font-size: 14px;
    padding: 10px;
  }

  @include sm {
    font-size: 12px;
    height: 60px;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-container {
      h1 {
        font-size: 3em;
        user-select: none;
        text-shadow: 4px 4px 10px black;

        @include sm {
          font-size: 2.5em;
        }
      }
    }

    .search-container {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1000;

      @include sm {
        top: 120%;
        width: 90vw;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 900;
        // transform: translateX(-40%);
      }

      .close-search {
        position: absolute;
        z-index: 1000;
        color: black;
        right: 5%;
        transform: translateY(110%);
        font-size: 1.5em;
      }

      input {
        width: 100%;
        font-size: 1.2em;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        z-index: 900;

        @include sm {
          display: none;
          // position: absolute;
        }

        &:focus {
          outline: none;
        }
      }

      .show-search {
        display: flex;
        position: absolute;
        top: 0;
        height: 50px;
        font-size: 1.5em;
        padding-right: 40px;
      }

      .searched-results {
        position: absolute;
        top: 120%;
        max-height: 500px;
        overflow: scroll;
        background-color: #fff;
        border-radius: 0px 0px 10px 10px;
        z-index: 100;
        padding: 10px;
        width: 100%;
        color: #000;
        box-shadow: 2px 2px 10px black;

        @include sm {
          transform: translateY(55px);
          font-size: 1.2em;
        }

        .loading-wrapper {
          width: 100%;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          .loading {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 2px solid gray;
            border-top: 2px solid #fff;
            animation: rotate 4s linear infinite;

            @keyframes rotate {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }
        }

        .searched-user-card {
          display: flex;
          gap: 10px;
          align-items: center;
          padding: 10px;
          border-radius: 10px;
          transition: 0.25s;

          &:hover {
            background-color: lightgray;
          }

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .name {
            font-size: 1.1em;
            font-weight: 600;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 15px;

      .search-small-screen,
      .friend-request-small-screen {
        display: none;
        cursor: pointer;
        user-select: none;
        position: relative;

        @include sm {
          display: block;
          font-size: 2em;
        }
      }

      .friend-request-small-screen {
        .friends-container {
          position: relative;
        }
      }

      .user-details {
        position: relative;
        .user-info {
          cursor: pointer;
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 1px 1px 10px black;

          @include sm {
            height: 35px;
            width: 35px;
          }
        }

        .user-options {
          position: absolute;
          top: 110%;
          background-color: #fff;
          right: 0;
          color: #000;
          width: auto;
          white-space: nowrap;
          padding: 10px;
          border-radius: 5px;
          font-weight: 600;
          box-shadow: 1px 1px 10px gray;
          z-index: 100;

          ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            // gap: 10px;

            li {
              padding: 5px;
              cursor: pointer;
              transition: 0.25s;

              &:hover {
                background-color: lightgray;
                border-radius: 5px;
              }

              span {
                position: relative;
                bottom: 2px;
              }
            }
          }
        }
      }
    }
  }
}
