@import "../../mixins.scss";

.share {
  width: 100%;
  outline: 1px solid var(--theme-color);
  box-shadow: 1px 1px 10px gray;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;

  @include sm {
    font-size: 0.8em;
  }

  .post-inputs {
    display: flex;

    textarea {
      box-sizing: border-box;
      flex: 1;
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
      resize: none;
      padding: 20px;
      font-size: 1rem;

      @include sm {
        padding: 10px;
      }

      &::placeholder {
        opacity: 0.5;
      }
    }

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }

  .action-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .add-image {
      color: var(--theme-color);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    button {
      background-color: var(--theme-color);
      color: #fff;
      font-size: 0.8rem;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
        transform: scale(1);
      }
    }
  }
}
