@import "../../mixins.scss";

.leftbar {
  background-color: #fff;
  box-shadow: 1px 1px 10px gray;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;

  @include md {
    display: none;
  }
}
